{{ form_start(form) }}
    {# {{ form_widget(form, {'attr': {'class': 'form-group'}}) }} #}
    {{ form_row(form, {'attr': {'class': 'form-group'}}) }}
    <button class="btn btn-primary btn-lg mb-1 mt-1">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}