{% extends 'base.html.twig' %}

{% block title %}Architect index{% endblock %}

{% block body %}
    <h1 class="display-1">Architect index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Origin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for architect in architects %}
            <tr>
                <td>{{ architect.id }}</td>
                <td>{{ architect.name }}</td>
                <td>{{ architect.origin }}</td>
                <td>
                    <a href="{{ path('app_architect_show', {'id': architect.id}) }}">show</a>
                    <a href="{{ path('app_architect_edit', {'id': architect.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_architect_new') }}">Create new</a>
{% endblock %}
